- if skills.size > 0
  %h2= section
  %table
    %thead
      %tr
        %th #
        %th title
        %th level
        %th point
        %th rate
        %th combo
    %tbody
      - skills.each do |skill|
        %tr
          %th= skill.music.number
          %td= raw skill.music.title
          %td= "[#{Skill.music_diffs[skill.best_diff]}] #{skill.music.level(skill.best_diff)}"
          %td= sprintf("%.2f", skill.point(skill.best_diff))
          %td= "#{skill.rate(skill.best_diff)} %"
          %td= SKILL_COMBOS_ALL[skill.combo(skill.best_diff)]