- if musics.size > 0
  %h2= section
  %table
    %thead
      %tr
        %th #
        %th title
        - Music.music_diffs.keys.sort.each do |diff|
          %th{colspan: 2}= Music.music_diffs[diff]
    %tbody
      - musics.each do |music|
        %tr
          %th= music.number
          %td= raw music.title
          - Music.music_diffs.keys.sort.each do |diff|
            %td= music.level(diff)
            %td= music.notes(diff)
