%h1 Music#index
%p Find me in app/views/music/index.html.haml

%table
  %thead
    %tr
      %th #
      %th title
      %th level1
      %th notes
      %th level2
      %th notes
      %th level3
      %th notes
  %tbody
    - @musics.each do |music|
      %tr
        %th= music.number
        %td= music.title
        %td= music.level1
        %td= music.notes1
        %td= music.level2
        %td= music.notes2
        %td= music.level3
        %td= music.notes3
